<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>home.html</h1>

    <form method="GET" 
        th:action="@{/songs}">
        <select name="year">
            <!-- <option value="0">Select Option</option> -->
            <option th:each="year:${years}" 
                    th:value="${year}" 
                    th:text="${year}">
            </option>
        </select>

        <button type="submit">Submit</button>

    </form>


    
</body>
</html>