<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
</head>
<body>

    <h1>songs.html</h1>

    <h2>Popular Songs in <span th:text="${year}"></span></h2>

    <table border="1">
        <thead>
            <tr>
                <td><strong>Track Name</strong></td>
                <td><strong>Artist Name</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="songObject: ${songObjects}">
                <td th:text="${songObject.trackName}"></td>
                <td th:text="${songObject.artistName}"></td>
            </tr>
        </tbody>
    </table>

    <br />
    <br />

    <a th:href="@{/}">Back</a>
    
</body>
</html>